:root {
    --bg-grey : #F2F2F2;
    --grey : #d9d9d9;
    --blue : #0065FC;
    --light-blue : #DEEBFF;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    padding: 0;
    margin: 0;
}
.container {
    padding: 0 50px;
    margin: 0 auto;
    max-width: 1440px;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 1.3em;
}
h3 {
    font-size: 1.1em;
    font-weight: 800;
    line-height: 1;
}

/* navbar style */

.headerBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 44px;
    align-items: center;
}
.headerLogo {
    flex-grow: 2;
    height: 45px;
}
.navbar-link {
    position: relative;
    margin: auto 2.1rem;
}
.navbar-link_active {
    color: var(--blue);
}
.navbar-link_active::before {
    content: '';
    height: 2px;
    width: 150%;
    left: -25%;
    top: -58px;
    background-color: var(--blue);
    position: absolute;
}
.navbar-link:hover {
    color: var(--blue);
    transition: color .250s;
}
.log-link {
    margin-left: 2.1rem;
    color: var(--blue);
    font-weight: 700;
}


.headerTitle {
    margin-top: 30px;
    margin-bottom: 0;
    line-height: 1.5;
}
.headerSubtitle {
    margin-top: 0;

/* search box style */
}
.searchBox {
    width: fit-content;
    min-width: 280px;
    max-width: 438px;
    height: 48px;
    border: solid 1px var(--bg-grey);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}
.searchBox-icon {
    width: 50px;
    height: 50px;
    border: none;
    background-color: var(--bg-grey);
    text-align: center;
    border-radius: 12px 0 0 12px;
    position: relative;
    top: -1px;
    left: -1px;
}
.searchBox-icon img {
    position: relative;
    top: 12px;
}
.searchBox-input {
    border: none;
    padding: 1px 16px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    max-width: calc(100% - 140px);
}
button {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    border: solid 1px var(--blue);
    height: 50px;
    position: relative;
    top: -1px;
    right: -1px;
    cursor: pointer;
}
.searchBox-btn {
    border: none;
    background-color: var(--blue);
    color: #fff;
    padding: 1px 18px;
    border-radius: 0 12px 12px 0;
}
.smartphoneSearch-btn {
    display: block;
    width: 48px;
    height: 48px;
    background-color: var(--blue);
    border: solid 1px var(--blue);
    border-radius: 12px;
    position: relative;
    top: -1px;
    right: -1px;
    cursor: pointer;
}
.smartphoneSearch-btn svg {
    position: relative;
    width: 17px;
    height: 17px;
    top: 11px;
    left: 15px;
    fill: #fff;
}


/* filters style */

    .filters, .filters-btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 30px 0 30px 8px;
    }
    .filters {
        flex-wrap: wrap;
    }
    .filters-title {
        margin-right: 20px;
    }
    .filters-btn {
        height: 46px;
        border: solid 2px var(--grey);
        background-color: #fff;
        padding: 0;
        border-radius: 25px;
        margin: 6px 12px;
        font-weight: 700;
    }
    .filters-btn:hover {
        background-color: var(--light-blue);
        border-color: var(--light-blue);
        color: var(--blue);
        transition: all .500s;
        cursor: pointer;
    }
    .filters-btn_icon {
        width: 48px;
        height: 48px;
        border: solid 1px var(--light-blue);
        border-radius: 50% 50%;
        background-color: var(--light-blue);
        position: relative;
        left: -2px;
    }
    .filters-btn_icon svg {
        width: 18px;
        height: 21px;
        position: relative;
        top: 13.5px;
        left: 15px;
        fill: var(--blue);
    }
    .filters-btn_name {
        margin-left: 12px;
        margin-right: 20px;
    }

/* Information line */

    .searchResultsInfo {
        display: flex;
        flex-direction: row;
    }
    .searchResultsInfo-icon_container {
        border: solid 1px;
        border-color: var(--grey);
        border-radius: 50%;
        width: 22px;
        height: 22px;
        margin-right: 12px;
        margin-left: 5px;
    }
    .searchResultsInfo svg{
        fill: var(--blue);
        position: relative;
        height: 12px;
        bottom: 5px;
        left: 8.5px;
    }
    .searchResultsInfo p {
        margin: 3px 0 0 0;
        line-height: 1.2;
    }

/* main style */
    .bodyLayout {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
    .mainContainer, .asideContainer {
        margin-top: 37px;
        background-color: var(--bg-grey);
        border-radius: 17px;
    }
    .mainContainer {
        flex-grow: 2;
        margin-right: 40px;
        padding: 19px 40px 33px;
        max-width: 800px;
    }
    .asideContainer {
        flex-grow: 1;
        padding: 19px 38px 1px 38px;
        max-width: 344px;
        min-width: 324px;
    }
    .asideContainer-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

/* cards styles */

.mainCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    position: relative;
    display: flex;
    background-color:#fff;
    border: 5px solid #fff;
    border-radius: 1.2rem;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.main-card {
    flex-direction: column;
    width: 235px;
}
.aside-card {
    flex-direction: row;
    margin-bottom: 33px;
}
.card-body {
    padding: 4px 14px;
}
.aside-card .card-body {
    padding: 4px 20px;
}
.card-title {
    margin: 0;
    font-size: 1em;
    font-weight: 800;
}
.card-text {
    font-size: 0.8em;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 6px;
}
.card-img {
    flex-shrink: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: 1rem;
}
.card-img-top {
    width: 236px;
    height: 114px;
    border-top-right-radius: 1rem;
}
.card-img-left {
    width: 127px;
    height: 134px;
    border-bottom-left-radius: 1rem;
}
.card-img-top_1 {
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.card-img-top_2 {
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
.card-img-top_3 {
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
.card-img-top_4 {
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
.card-img-top_5 {
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
.card-img-top_6 {
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}
.card-img-left_1 {
    background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}
.card-img-left_2 {
    background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
}
.card-img-left_3 {
    background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}
.aside-card h5 {
    line-height: 1.2;
    margin: 12px 0;
}
.stars {
    height: 16px;
    line-height: 1;
}
.aside-card .stars {
    position: absolute;
    bottom: 9px;
    height: 12px;
}
.mainContainer-link h3 {
    margin: 13px 4px;
}

/* footer style */
    .footer {
        background-color: var(--bg-grey);
        padding: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-list {
        width: 33%;
        padding-right: 20px;
    }
    .footer-title {
        margin-top: 0;
    }

    @media screen and (max-width: 991px) {
        .footer {
            flex-direction: column;
        }
        .footer-list {
            width: auto;
        }
        .footer-title {
            margin-top: 0.83em;
        }
        .footer-list ul {
            margin-bottom: 1em;
        }
    }

    @media screen and (max-width: 768px) {
        .container {
            padding: 0 20px;
        }
       
        .searchBox-btn {
            display: none;
        }

        .headerBar {
            flex-wrap: wrap;
            padding-top: 22px;
        }
        .navbar {
            order: 1;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .headerLogo {
            width: 50%;
        }
        .log-link {
            width: 50%;
            text-align: right;
            margin: 0;
        }
        .navbar-link {
            width: 50%;
            text-align: center;
            margin: 0;
        }
        .navbar-link::before {
            display: none;
        }
        .navbar-link::after {
            content: '';
            height: 2px;
            width: calc(100% + 20px);
            top: 33px;
            background-color: var(--bg-grey);
            position: absolute;
        }
        .navbar-link_active::after {
            background-color: var(--blue);
        }
        .navbar-link_first::after {
            left: -20px;
        }
        .navbar-link_second::after {
            left: 0;
        }

        .filters-title {
            width: 100%;
            margin: 7px 0;
        }

        .bodyLayout {
            display: flex;
            flex-direction: column;
        }
        .mainContainer {
            order: 1;
        }
        
        .footer {
            padding: 20px;
        }
    }

    @media screen and (min-width: 768px) {
        .smartphoneSearch-btn {
            display: none;
        }
    }

    @media screen and (max-width: 375px) {
        .searchBox {
            width: 100%;
        }

        .filters {
            margin-left: 0;
        }
        .filters-title {
            width: 100%;
            margin: 7px 0;
        }
        .filters-btn {
            margin-left: 0;
            margin-right: 10px;
        }
        .filters-btn_name {
            margin-right: 14px;
            font-size: 0.9em;
        }
    }